<h2>Hello world!</h2>
<app-home></app-home>
<div class="card">
  <img src="../assets/Img/TriAnLake__42.JPG" alt="Avatar" style="width:40%">
  <div class="container">
    <h4><b>{{ name }}</b></h4> 
    <p>Architect & Engineer</p> 
    <input value={{name}}/>
    <br/>
    <br/>
    <div *ngIf="age > 17 ; then enough else notunough"></div>
    <ng-template #enough> Bạn đã đủ 18 tuổi</ng-template>
    <ng-template #notunough> Bạn chưa đủ 18 tuổi</ng-template>
    <br/>
    <br/>
    <input type="text" [(ngModel)]="age">
    <button (click)="resetname()">Cập nhập</button>
    <br>
  </div>
</div>